<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>예약 성공화면</title>


    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<!--아이콘 가져오기-->
<div th:replace="~{fragment/icon :: icon}"></div>
<!--헤더-->
<div class="container" th:insert="~{fragment/header :: header}"></div>

<div class="container d-flex align-items-center justify-content-center" style="height: 500px;">

    <div class="text-center">
        <p class="h2 mb-5">
            예약에 성공했습니다!!
        </p>

        <button class="btn btn-md btn-primary" th:onclick="|location.href='@{/home}'|">홈으로</button>
    </div>


</div>



<script th:src="@{/script/bootstrap.bundle.min.js}"
        src="../../static/script/bootstrap.bundle.min.js"></script>
</body>
</html>