<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>나의 게시물</title>

    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.css" rel="stylesheet">
    <style>
        .list-group-item a {
            text-decoration-line: none;
			white-space: nowrap;
			color: rgb(83, 83, 83);
			font-size: large;
			font-weight: 600;
        }



    </style>

</head>
<body>
<script th:src="@{/script/bootstrap.bundle.min.js}"
        src="../../static/script/bootstrap.bundle.min.js" defer></script>
<!--아이콘 가져오기-->
<div th:replace="~{fragment/icon :: icon}"></div>
<!--헤더-->
<div class="container" th:insert="~{fragment/header :: header}"></div>

<div class="container">

    <div class="row">
        <div class="col-md-3">
            <div id="navCard">
                <ul class="list-group" style="border-radius: 15px;">
                    <li class="list-group-item p-3">
                        <a th:href="@{/profile/reservations}" class="d-flex justify-content-between">
                            <span>예약 내역</span>
                            <span>-></span>
                        </a>
                    </li>
                    <li class="list-group-item p-3">
                        <a th:href="@{/profile/info}" class="d-flex justify-content-between">
                            <span>내 정보</span>
                            <span>-></span>
                        </a>
                    </li>
                    <li class="list-group-item p-3">
                        <a th:href="@{/profile/posts}" class="d-flex justify-content-between" style="color: rgb(0, 128, 255);">
                            <span>내 게시물</span>
                            <span>-></span>
                        </a>
                    </li>
                    <li class="list-group-item p-3">
                        <a th:href="@{/profile/coupon}" class="d-flex justify-content-between">
                            <span>쿠폰</span>
                            <span>-></span>
                        </a>
                    </li>
                    <li class="list-group-item p-3">
                        <a th:href="@{/profile/settings}" class="d-flex justify-content-between">
                            <span>설정</span>
                            <span>-></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="col-md-9">
            <p class="h2 mb-5">내 게시물</p>
            <!-- 상단 검색 및 글 등록 -->
            <form class="form-inline" th:action th:object="${criteria}" method="get" >
                <div class="row">
                    <div class="col">
                        <input type="text" th:field="*{keyword}" class="form-control" placeholder="제목으로 검색"/>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-secondary mb-2">검색</button>
                    </div>
                    <div class="col">
                        <div class="col">
                            <button class="btn btn-primary float-end"
                                    onclick="location.href='addForm.html'"
                                    th:onclick="|location.href='@{/bulletinBoard/add(pageNum=${criteria.pageNum}, amount=${criteria.amount}, keyword=${criteria.keyword})}'|"
                                    type="button">글 등록하기
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <hr class="my-4">

            <!-- 게시물 테이블 -->
            <div class="">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>글 번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성 일자</th>
                        <th>카테고리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <!-- 여기로 넘겨지는 posts는 DisplayPostForm의 데이터 형태가 넘어오는 것임. 작성자 이름을 사용하기 위해서 그렇게 했음-->
                        <td><a href="#" th:href="@{/bulletinBoard/detail/{postId}(postId=${post.postId}, pageNum=${criteria.pageNum}, amount=${criteria.amount}, keyword=${criteria.keyword})}" th:text="${post.postId}">글 번호</a></td>
                        <td><a href="#" th:href="@{/bulletinBoard/detail/{postId}(postId=${post.postId}, pageNum=${criteria.pageNum}, amount=${criteria.amount}, keyword=${criteria.keyword})}" th:text="${post.title}">제목</a></td>
                        <td th:text="|${post.memberId}|">작성자</td>
                        <td th:text="${post.postDate}">작성일자</td>
                        <td th:text="${post.category}">카테고리</td>
                    </tr>
                    </tbody>
                </table>

                <!--페이지 네비게이션-->
                <div class="d-flex justify-content-center mt-5">
                    <nav>
                        <ul class="pagination pagination flex-wrap">

                            <!-- 이전 버튼 -->
                            <li class="page-item" th:if="${pageMaker.prev}">
                                <a class="page-link" th:href="@{/profile/posts(pageNum=${pageMaker.startPage - 1}, amount=${criteria.amount}, keyword=${criteria.keyword})}">Previous</a>
                            </li>

                            <li class="page-item" th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                <a class="page-link" th:class="${pageMaker.criteria.pageNum == num ? 'page-link active' : 'page-link' }" th:href="@{/profile/posts(pageNum=${num}, amount=${criteria.amount}, keyword=${criteria.keyword})}" th:text="${num}">1</a>
                            </li>

                            <!-- 다음 버튼 -->
                            <li class="page-item" th:if="${pageMaker.next}">
                                <a class="page-link" th:href="@{/profile/posts(pageNum=${pageMaker.endPage + 1}, amount=${criteria.amount}, keyword=${criteria.keyword})}">Next</a>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>





        </div>


    </div>



</div>




</body>
</html>