<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        textarea {
            height: 500px;
        }
        a {
            text-decoration-line: none;
        }
        .preview {
            width: 400px; /* 미리보기 이미지 크기 */
            height: auto; /* 비율 유지 */
            margin: 5px 5px 5px 0px; /* 간격 */
        }
    </style>
</head>
<body>

<!--아이콘-->
<div th:replace="~{fragment/icon :: icon}"></div>

<!--헤더-->
<div class="container" th:insert="~{fragment/header :: header}"></div>


<div class="container">
    <div class="py-5 text-center">
        <h2>글쓰기</h2>
    </div>

    <form id="bulletinBoard" action="#" th:action th:object="${post}" method="post" enctype="multipart/form-data">
        <div class="row gy-3">
            <div class="col-md-10">
                <label for="title">제목</label>
                <input type="text" id="title" class="form-control"
                       th:field="*{title}" th:errorclass="field-error"
                       placeholder="제목을 입력하세요">
                <div class="field-error" th:errors="*{title}">제목 오류</div>
            </div>

            <div class="col-md-2">
                <label for="category">카테고리</label>
                <select class="form-select" id="category" th:field="*{category}" th:errorclass="field-error">
                    <option value="">카테고리 선택</option>
                    <option value="국내 여행">국내 여행</option>
                    <option value="해외 여행">해외 여행</option>
                    <option value="질문">질문</option>
                </select>
                <div class="field-error" th:errors="*{category}">카테고리 오류</div>
            </div>

            <div class="col-md-12">
                <label for="content">내용</label>
                <textarea id="content" class="form-control"
                       th:field="*{content}" th:errorclass="field-error"
                          placeholder="내용을 입력하세요"></textarea>
                <div class="field-error" th:errors="*{content}">내용 오류</div>
                <!-- 글쓰는 부분 이거 잡아서 늘리는거 없애고, 쓴 글 길이만큼 높이가 자동으로 길어지는거 구현하기 -->
            </div>

            <!-- 이미지 올리기 기능 구현 완료-->
            <!-- 이미지만 올라가도록 제한해야함. 완료-->
            <div class="col-lg-12">
                <label for="images">이미지</label>
                <input type="file" class="form-control" multiple="multiple" th:field="*{images}" name="file" id="images" accept="image/*">

                <div class="row" id="previewContainer">
                </div> <!-- 미리보기 이미지를 담을 컨테이너 -->
            </div>

            <div class="col-2">
                <label for="memberLoginId">작성자</label>
                <input type="text" id="memberLoginId" class="form-control"
                       th:field="*{memberLoginId}" readonly>
            </div>

        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">글 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='#'"
                        th:onclick="|location.href='@{/bulletinBoard/list}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>



</div> <!-- /container -->

<script th:src="@{/script/imagePreview.js}"
        src="../../static/script/imagePreview.js"></script>

<script th:src="@{/script/bootstrap.bundle.min.js}"
        src="../../static/script/bootstrap.bundle.min.js"></script>
</body>
</html>