<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        textarea {
            height: 500px;
        }
    </style>
</head>
<body>

<!--아이콘 가져오기-->
<div th:replace="~{fragment/icon :: icon}"></div>

<!--헤더-->
<div class="container" th:insert="~{fragment/header :: header}"></div>


<div class="container">

    <div class="py-5 text-center">
        <h2>글 수정하기</h2>
    </div>

<!--    수정할 게시 글이 updatePost로 들어온다-->
    <form action="#" th:action th:object="${updatePost}" method="post">
        <div class="row gy-3">
            <div class="col-md-10">
                <label for="editTitle">제목</label>
                <input type="text" id="editTitle" class="form-control"
                       th:field="*{editTitle}" th:errorclass="field-error"
                       placeholder="제목을 입력하세요">
                <div class="field-error" th:errors="*{editTitle}">제목 오류</div>
            </div>

            <div class="col-md-2">
                <label for="editCategory">카테고리</label>
                <select class="form-select" id="editCategory" th:field="*{editCategory}" th:errorclass="field-error">
                    <option value="">카테고리 선택</option>
                    <option value="국내 여행">국내 여행</option>
                    <option value="해외 여행">해외 여행</option>
                    <option value="질문">질문</option>
                </select>
                <div class="field-error" th:errors="*{editCategory}">카테고리 오류</div>
            </div>

            <div class="col-md-12">
                <label for="editContent">내용</label>
                <textarea id="editContent" class="form-control"
                       th:field="*{editContent}" th:errorclass="field-error"
                          placeholder="내용을 입력하세요"></textarea>
                <div class="field-error" th:errors="*{editCategory}">내용 오류</div>

            </div>

            <div class="col-2">
                <label for="memberLoginId">작성자</label>
                <input type="text" id="memberLoginId" class="form-control"
                       th:field="*{memberLoginId}" th:errorclass="field-error" readonly>
            </div>

        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">글 수정하기</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='#'"
                        th:onclick="|location.href='@{/bulletinBoard/detail/{postId}(postId=${updatePost.postId}, pageNum=${criteria.pageNum}, amount=${criteria.amount}, keyword=${criteria.keyword}) }'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->

<script th:src="@{/script/bootstrap.bundle.min.js}"
        src="../../static/script/bootstrap.bundle.min.js"></script>
</body>
</html>