<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        img {
            min-width: 30px;
            max-width: 400px;
            height: auto;
            margin: 5px 5px 5px 0px;
        }
        a {
            text-decoration-line: none;
        }
    </style>
</head>
<body>

<!--아이콘 가져오기-->
<div th:replace="~{fragment/icon :: icon}"></div>

<!--헤더-->
<div class="container" th:insert="~{fragment/header :: header}"></div>


<div class="container mb-5">
    <div class="py-5 text-center">
        <h2>게시물</h2>
    </div>
    <!--게시물이 post로 들어온다-->
    <form action="#" th:action th:object="${post}" method="get">
        <div class="row gy-3">
            <div class="col-md-10">
                <label for="title">제목</label>
                <input type="text" id="title" class="form-control"
                       th:field="*{title}" readonly>
            </div>

            <div class="col-md-2">
                <label for="category">카테고리</label>
                <input type="text" id="category" class="form-control"
                       th:field="*{category}" readonly>
            </div>

            <div class="col-md-12">
                <label for="content">내용</label>
                <textarea id="content" class="form-control resize-none"
                       th:field="*{content}" readonly></textarea>
            </div>
            
            <!-- 이미지 -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col" th:each="image : *{images}">
                        <img class="ratio ratio-1x1 rounded" th:src="|/images/${image.saveName}|" src="4.jpg" alt="게시물 이미지">
                    </div>
                </div>

            </div>

            <div class="col-2">
                <label for="memberLoginId">작성자</label>
                <input type="text" id="memberLoginId" class="form-control"
                       th:field="*{memberLoginId}" readonly>
            </div>

        </div>

        <hr class="my-4">

        <div class="row mb-5">
            <div th:if="${user.username == post.memberLoginId}" class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='#'"
                        th:onclick="|location.href='@{/bulletinBoard/edit/{postId}(postId=${post.postId}, pageNum=${criteria.pageNum}, amount=${criteria.amount}, keyword=${criteria.keyword})}'|"
                        type="button">글 수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='#'"
                        th:onclick="|location.href='@{/bulletinBoard/list(pageNum=${criteria.pageNum}, amount=${criteria.amount}, keyword=${criteria.keyword})}'|"
                        type="button">돌아가기</button>
            </div>
        </div>
    </form>

    <form th:if="${user.username == post.memberLoginId}"
            id="delForm" th:action="@{/bulletinBoard/{postId}(postId=${post.postId}, pageNum=${criteria.pageNum}, amount=${criteria.amount}, keyword=${criteria.keyword})}" th:method="delete"
        class="d-flex justify-content-center mb-5">
        <button id="delBtn" class="btn btn-lg btn-danger" type="submit">삭제하기</button>
    </form>

</div> <!-- /container -->

<script>
    document.getElementById('delForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var con = confirm("게시물을 삭제 하시겠습니까?");
        
        if (con) {
            document.getElementById('delForm').submit();
        }
    });

</script>


<script src="../../static/script/textarea-control.js" th:src="@{/script/textarea-control.js}"></script>
<script th:src="@{/script/bootstrap.bundle.min.js}"
        src="../../static/script/bootstrap.bundle.min.js"></script>
</body>
</html>