<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whang.travel.domain.member.mybatis.MemberMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member (first_name, last_name, member_id, password, email, address, role, number, birth, sex)
        values (#{firstName}, #{lastName}, #{memberId}, #{password}, #{email}, #{address}, #{role}, #{number}, #{birth}, #{sex})
    </insert>

    <update id="update">
        update member set first_name=#{updateMember.firstName},
        last_name=#{updateMember.lastName}, member_id=#{updateMember.memberId},
        password=#{updateMember.password}, email=#{updateMember.email},
        address=#{updateMember.address}
        where id=#{id}
    </update>

    <update id="updatePw">
        update member
        set password=#{pw},
        where id=#{id}
    </update>

    <select id="findById" resultType="Member">
        select *
        from member
        where id=#{id}
    </select>

    <select id="findByLoginId" resultType="Member">
        select *
        from member
        where member_id = #{loginId}
    </select>

    <select id="findAll" resultType="Member">
        select * from member
    </select>

    <select id="findIdByLoginId" resultType="Long">
        select id
        from member
        where member_id=#{loginId}
    </select>

</mapper>