<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whang.travel.domain.order.mybatis.OrderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="orderNum">
        insert into orders (order_member_id, order_item_id, order_item_quantity, delivery_address, order_date, total_price)
        values (#{orderMemberID}, #{orderItemId}, #{orderItemQuantity}, #{address}, #{orderDate}, #{totalPrice})
    </insert>

    <update id="update">
        update orders set order_member_id=#{updateOrder.orderMemberID}, order_item_id=#{updateOrder.orderItemId},
        order_item_quantity=#{updateOrder.orderItemQuantity}, delivery_address=#{updateOrder.address},
        order_date=#{updateOrder.orderDate}, total_price=#{updateOrder.totalPrice}
        where order_num=#{orderId}
    </update>
    
    <select id="findOrderByOrderNum" resultType="Order">
        select *
        from orders
        where order_num=#{orderNum}
    </select>

    <select id="findOrderByMemberId" resultType="Order">
        select orders.order_num, orders.order_member_id, orders.order_item_id, item.item_name, item.price, orders.order_item_quantity, orders.delivery_address, orders.order_date, orders.total_price
        from orders, item
        where orders.order_member_id=1 and orders.order_item_id=item.item_id
    </select>

    <select id="findIdByMemberLoginId" resultType="Long">
        select id
        from member
        where member_id=#{findMemberIdByMemberLoginId}
    </select>
    
    <delete id="delete">
        delete from orders
        where order_num=#{orderNum}
    </delete>


</mapper>