<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!--xeicon 아이콘-->
<!--    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">-->
    <!-- 구글 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!--폰트 어썸-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/3c3a4f4683.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">

    <!-- JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <title>숙소 상세 페이지</title>

    <style>
        img {
            max-width: 100px;
        }
        a:hover {
            filter: brightness(0.8);
        }
        a {
            text-decoration-line: none;
        }

        /* 슬라이더 설정 */
        .swiper {
          width: 100%;
          height: 200px;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        i {
            white-space: nowrap; /*줄바꿈 방지*/
        }

        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
        }
    </style>

</head>
<body>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <!--        부트스트랩 로고-->
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>

    <!--        프로필 아이콘-->
    <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </symbol>

</svg>

<!--헤더-->
<div class="container">
    <header>
        <nav class="navbar navbar-white p-3 text-bg-white border-bottom mb-4">
            <div class="container d-flex justify-content-between align-items-center">
                <!--아이콘-->
                <a href="#" th:href="@{/home}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <div class="d-flex ms-auto align-items-center">

                    <!-- 로그인 안했을 때-->
                    <button sec:authorize="isAnonymous()" type="button" class="btn btn-outline-dark me-2" onclick="#" th:onclick="|location.href='@{/login}'|">로그인</button>
                    <button sec:authorize="isAnonymous()" type="button" class="btn btn-warning me-3" onclick="#" th:onclick="|location.href='@{/signup/add}'|">회원가입</button>

                    <!-- 로그인 했을 때 -->
                    <a sec:authorize="isAuthenticated()" class="me-3 text-dark" href="#">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                        <span th:if="${not #strings.isEmpty(user)}" th:text="${user.username}">
                                로그인한 사용자 이름
                            </span>
                    </a>

                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-dark me-3" onclick="#">로그아웃</button>
                    </form>

                    <!--상단 네비게이션 토글 버튼-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <!-- 네비게이션 아이템 -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">국내 여행</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">해외 여행</a>
                        </li>
                        <li class="nav-item" th:href="@{/item/items}">
                            <a class="nav-link" href="#">숙소 검색</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/bulletinBoard/list}" tabindex="-1" aria-disabled="true">게시판</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

<!--상단 숙소 이미지-->
<div class="container overflow-hidden text-center mb-4">
<!--  상단 소개 이미지는 5개까지만 그냥 서버에서 5개만 보내는 걸로.  -->
    <div class="row">
        <div class="col-md-6">
            <a href="#">
                <img class="ratio ratio-1x1 img-fluid rounded" th:src="|/images/${Image1.saveName}|" src="1.jpg" alt="숙소 소개 이미지">
            </a>
        </div>
        <div class="col-md-6">
            <div class="row g-3" >
                <div class="col-md-6 d-none d-md-block">
                    <a href="#">
                        <img class="ratio ratio-1x1 img-fluid rounded" th:src="|/images/${Image2.saveName}|" src="2.jpg" alt="숙소 소개 이미지">
                    </a>

                </div>

                <div class="col-md-6 d-none d-md-block">
                    <a href="#">
                        <img class="ratio ratio-1x1 img-fluid rounded" th:src="|/images/${Image3.saveName}|" src="3.jpg" alt="숙소 소개 이미지">
                    </a>
                </div>

                <div class="col-md-6 d-none d-md-block">
                    <a href="#">
                        <img class="ratio ratio-1x1 img-fluid rounded" th:src="|/images/${Image4.saveName}|" src="4.jpg" alt="숙소 소개 이미지">
                    </a>
                </div>

                <div class="col-md-6 d-none d-md-block">
                    <a href="#">
                        <img class="ratio ratio-1x1 img-fluid rounded" th:src="|/images/${Image5.saveName}|" src="5.jpg" alt="숙소 소개 이미지">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--숙소 소개-->
<div class="container">
    <div class="row g-5">

        <!--왼쪽 메인 숙소 소개 컨텐츠-->
        <div class="col-md-8">
            <strong class="d-inline-block mb-1 text-secondary" th:text="${accommodation.category}">숙소 분류(펜션, 호텔, 모텔)</strong>
            <h3 class="md-0" th:text="${accommodation.name}">숙소 이름</h3>
            <div class="row g-4">
                <div class="col-md-12">
                    <!-- 별모양 아이콘 -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill text-success" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <span class="">

                        별점(4.8)
                    </span>

                    <span class="text-secondary">
                        "00"명 평가
                    </span>
                    <a href="#">
                        <span class="text-primary">
                        리뷰보기
                        </span>
                    </a>
                </div>

                <!-- 리뷰 슬라이드 -->
                <div class="col-md-12">
                    <div class="swiper mySwiper border rounded">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide border rounded">리뷰 슬라이드 1</div>
                            <div class="swiper-slide border rounded">리뷰 슬라이드 2</div>
                            <div class="swiper-slide border rounded">리뷰 슬라이드 3</div>
                            <div class="swiper-slide border rounded">리뷰 슬라이드 4</div>
                            <div class="swiper-slide border rounded">리뷰 슬라이드 5</div>
                            <div class="swiper-slide border rounded">리뷰 슬라이드 6</div>
                            <div class="swiper-slide border rounded">리뷰 슬라이드 7</div>
                            <div class="swiper-slide border rounded">리뷰 슬라이드 8</div>
                            <div class="swiper-slide border rounded">리뷰 슬라이드 9</div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-md-12 p-3 border-top border-bottom">
                    <h4>서비스 및 부대시설</h4>

                    <!--숙소 부대 시설 아이콘-->
                    <div class="row">
                        <div th:each="service : ${accommodation.service}" th:switch="${service}" class="col-auto">
                            <span th:case="'피트니스'">
                                <i class="fa-solid fa-dumbbell">피트니스</i>
                            </span>

                            <span th:case="'조식'">
                                <i class="fa-solid fa-mug-saucer">조식</i>
                            </span>

                            <span th:case="'수영장'">
                                <i class="fa-solid fa-person-swimming">수영장</i>
                            </span>

                            <span th:case="'바베큐 시설'">
                                <i class="fa-solid fa-bacon">바베큐</i>
                            </span>

                            <span th:case="'샤워장'">
                                <i class="fa fa-shower">샤워장</i>
                            </span>
                            <span th:case="'와이파이'" >
                                <i class="fa-solid fa-wifi">와이파이</i>
                            </span>

                            <span th:case="'레스토랑'">
                                <i class="fa-solid fa-utensils">레스토랑</i>
                            </span>

                            <span th:case="'금연'" >
                                <i class="fa-solid fa-ban-smoking">금연</i>
                            </span>

                            <span th:case="'비즈니스 센터'">
                                <i class="fa-solid fa-briefcase">비즈니스 센터</i>
                            </span>

                            <span th:case="'스파'">
                                <i class="fa-solid fa-spa">스파</i>
                            </span>

                            <span th:case="'TV'">
                                <i class="fa-solid fa-tv">TV</i>
                            </span>
                        </div>
                        <!--여기는 사장님이 태그한 것들만 DB에서 확인해서 아이콘 넣을것.-->

                    </div>
                </div>


                <div class="col-md-12 border-bottom mt-5">
                    <div class="row g-3">

                        <div class="col-md-12">
                        </div>

                    </div>
                </div>

                <div class="col-md-12 border-bottom mt-5">
                    <h2>객실 선택</h2>
                    <div class="row g-3">

                        <div class="col-md-12">
                        </div>

                    </div>
                </div>

                <div class="col-md-12 border-bottom mt-5">
                    <h2>숙소 소개</h2>
                    <div class="row g-3">

                        <div class="col-md-12">
                            <p th:text="${accommodation.introduction}">

                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 border-bottom mt-5">
                    <h2>숙소 이용 정보</h2>
                    <div class="row g-3">

                        <div class="col-md-12">
                            <p th:text="${accommodation.information}">

                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 border-bottom mt-5">
                    <h2>취소 및 환불 규정</h2>
                    <div class="row g-3">

                        <div class="col-md-12">
                        </div>

                    </div>
                </div>

                <div class="col-md-12 border-bottom mt-5">
                    <h2>위치</h2>
                    <div class="row g-3">

                        <div class="col-md-12">
                            <p th:text="${accommodation.location}">

                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 border-bottom mt-5">
                    <h2 class="border-bottom">리뷰</h2>
                    <div class="row g-3">

                        <div class="col-md-12">
                        </div>

                    </div>
                </div>



            </div>

        </div>

        <!--오른쪽 부수 컨텐츠-->
        <div class="col-md-4">

            <div class="row g-4">

                <!-- 카카오맵 지도-->
                <div class="col-md-12 d-none d-lg-block">
                    <div id="daumRoughmapContainer1723984686616" class="root_daum_roughmap root_daum_roughmap_landing" style="width:100%">
                    </div>
                </div>

                <!--position-sticky 사용하려면 부모 요소중에 overflow 속성이 적용되어 있으면 안됨-->
                <div class="position-sticky" style="top: 2rem;">
                    <div class="col-md-12">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4>알림 사항</h4>
                            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


<!--다음 지도-->
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<script charset="UTF-8">
    new daum.roughmap.Lander({
        "timestamp" : "1723984686616",
        "key" : "2kddm",
        "mapHeight" : "200"
    }).render();
</script>

<script>
    var mySwiper = new Swiper(".mySwiper", {
  slidesPerView: 2, // 한 번에 표시할 슬라이드 수
  spaceBetween: 20, // 슬라이드 간의 간격
  loop: true, // 슬라이드 루프(무한 회전) 활성화
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev"
  },
  pagination: {
    el: '.swiper-pagination', // 페이지 표시기
    clickable: true // 페이지 번호 클릭 가능하게 설정
  },
  autoplay: {
    delay: 3000, // 3초마다 자동 재생
    disableOnInteraction: false // 사용자 상호 작용 후에도 자동 재생 유지
  },
  // mousewheel: true, // 마우스 휠로 슬라이드 이동 가능
  centeredSlides: false, // 슬라이드 중앙 정렬
});
</script>

<script th:src="@{/script/bootstrap.bundle.min.js}"
        src="../../static/script/bootstrap.bundle.min.js"></script>
</body>
</html>