<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
        href="../../static/css/bootstrap.css" rel="stylesheet">

    <link th:href="@{/css/sidebars.css}"
          href="../../static/css/sidebars.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">

  <title>숙소 검색 리스트 화면</title>

    <style>
        .container {
            max-width: 75%;
        }

         .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      a {
      text-decoration-line: none;
      }

    </style>
</head>
<body>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <!--        부트스트랩 로고-->
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>

    <!--        프로필 아이콘-->
    <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </symbol>

</svg>

<!--헤더-->
<div class="container">
    <header>
        <nav class="navbar navbar-white p-3 text-bg-white border-bottom mb-4">
            <div class="container d-flex justify-content-between align-items-center">
                <!--아이콘-->
                <a href="#" th:href="@{/home}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <div class="d-flex ms-auto align-items-center">

                    <!-- 로그인 안했을 때-->
                    <button sec:authorize="isAnonymous()" type="button" class="btn btn-outline-dark me-2" onclick="#" th:onclick="|location.href='@{/login}'|">로그인</button>
                    <button sec:authorize="isAnonymous()" type="button" class="btn btn-warning me-3" onclick="#" th:onclick="|location.href='@{/signup/add}'|">회원가입</button>

                    <!-- 로그인 했을 때 -->
                    <a sec:authorize="isAuthenticated()" class="me-3 text-dark" href="#">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                        <span th:if="${not #strings.isEmpty(user)}" th:text="${user.username}">
                                로그인한 사용자 이름
                            </span>
                    </a>

                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-dark me-3" onclick="#">로그아웃</button>
                    </form>

                    <!--상단 네비게이션 토글 버튼-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <!-- 네비게이션 아이템 -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">국내 여행</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">해외 여행</a>
                        </li>
                        <li class="nav-item" th:href="@{/item/items}">
                            <a class="nav-link" href="#">숙소 검색</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/bulletinBoard/list}" tabindex="-1" aria-disabled="true">게시판</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

<div class="container d-flex">
        <!--사이드 바-->
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-5 fw-semibold">Collapsible</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        Home
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Overview</a></li>
                            <li><a href="#" class="link-dark rounded">Updates</a></li>
                            <li><a href="#" class="link-dark rounded">Reports</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Overview</a></li>
                            <li><a href="#" class="link-dark rounded">Weekly</a></li>
                            <li><a href="#" class="link-dark rounded">Monthly</a></li>
                            <li><a href="#" class="link-dark rounded">Annually</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">New</a></li>
                            <li><a href="#" class="link-dark rounded">Processed</a></li>
                            <li><a href="#" class="link-dark rounded">Shipped</a></li>
                            <li><a href="#" class="link-dark rounded">Returned</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Account
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">New...</a></li>
                            <li><a href="#" class="link-dark rounded">Profile</a></li>
                            <li><a href="#" class="link-dark rounded">Settings</a></li>
                            <li><a href="#" class="link-dark rounded">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    <!--메인 컨텐츠-->
    <div class="flex-grow-1 p-3">
        <h1>'[[${param.region}]]' 검색 결과 [[${#lists.size(accommoList)}]]건</h1>
        <div class="row justify-content-md-center">

            <!--아이템 카드-->
            <div th:each="accommo : ${accommoList}" class="col-md-8 border-bottom mb-4">
                <a th:href="@{/accommodation/detail/{accommoId}(accommoId=${accommo.accommodationId})}" href="#">
                <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block rounded">
                        <svg class="bd-placeholder-img" width="300" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">

                        <strong class="d-inline-block mb-1 text-success" th:text="${accommo.category}">숙소 분류(펜션, 호텔, 모텔)</strong>

                        <h3 class="mb-0" th:text="${accommo.name}">숙소 이름</h3>

                        <div class="mb-1 text-muted">숙소 지역</div>

                        <div class="mb-1 text-muted">
                    <span class="badge rounded-pill bg-danger"> <!--알약모양 뱃지-->
                        <!-- 별모양 아이콘 -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>

                        별점(4.8)

                    </span>리뷰 개수

                        </div>
                    </div>
                </div>
                </a>
            </div>




            <!--페이지 네비게이션-->
        <div class="col-md-auto">
                <nav class="">
                    <ul class="pagination pagination-lg flex-wrap">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>



    </div>



</div>


<script th:src="@{/script/bootstrap.bundle.min.js}"
        src="../../static/script/bootstrap.bundle.min.js"></script>

<link th:href="@{/script/sidebars.js}"
      href="../../static/script/sidebars.js" rel="stylesheet">

</body>
</html>