<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ko">
<head>
    <meta charset="UTF-8">

  <link th:href="@{/css/bootstrap.min.css}"
        href="../../static/css/bootstrap.css" rel="stylesheet">
    <title>숙소 집어넣기</title>
</head>
<body>
  <form th:action th:object="${accommodation}" method="post">
    <div class="row">
      <div class="col">
        <label>name</label>
        <input class="form-control" th:field="*{name}" type="text" id="name">
      </div>
      <div class="col">
        <label>location</label>
        <input class="form-control" th:field="*{location}" type="text" id="location">
      </div>
      <div class="col">
        <label>category</label>
        <input class="form-control" th:field="*{category}" type="text" id="category">
      </div>
      <div class="col">
        <label>introduction</label>
        <input class="form-control" th:field="*{introduction}" type="text" id="introduction">
      </div>
      <div class="col">
        <label>service</label>
        <input class="form-control" th:field="*{service}" type="text" id="service">
      </div>
      <div class="col">
        <label>information</label>
        <input class="form-control" th:field="*{information}" type="text" id="information">
      </div>
      <div class="col">
        <label>seller</label>
        <input class="form-control" th:field="*{seller}" type="text" id="seller">
      </div>
      <div class="col">
        <label>region</label>
        <input class="form-control" th:field="*{region}" type="text" id="region">
      </div>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">보내기</button>


  </form>


<script th:src="@{/script/bootstrap.bundle.min.js}"
        src="../../static/script/bootstrap.bundle.min.js"></script>
</body>
</html>