<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>홈 페이지</title>
        <link th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.css" rel="stylesheet">
        
        <!-- 홈페이지 전반 css -->
        <link th:href="@{/css/homepage.css}"
              href="../../static/css/homepage.css" rel="stylesheet">

        <!-- 달력 -->
        <link th:href="@{/css/calendar2.css}"
              href="../../static/css/calendar2.css" rel="stylesheet">
              

        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

        <!--슬라이드 카드 관련-->
        <link th:href="@{/css/carousel.css}"
              href="../../static/css/carousel.css" rel="stylesheet">
    </head>
    
    <style>
        td {
            border-radius: 30px;
        }
        table {
            background-color: white;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>    

    <body>
    <script th:src="@{/script/calendar2.js}"
            src="../../static/script/calendar2.js" defer></script>

    <script th:src="@{/script/bootstrap.bundle.min.js}"
            src="../../static/script/bootstrap.bundle.min.js" defer></script>

    <script th:src="@{/script/slide.js}"
            src="../../static/script/slide.js" defer></script>

    <!--아이콘 가져오기-->
    <div th:replace="~{fragment/icon :: icon}"></div>
    <!--헤더-->
    <div class="container" th:insert="~{fragment/header :: header}"></div>

    <div class="container">
        <!-- <img class="rounded" src="aaa.png" width="100%" height="512" alt="검색창 배경 사진">-->
        <!--숙소 검색-->
        <div class="row row-gap-3">
            <div class="col-12">
                <div id="searchSection" class="p-5" style="border-radius: 15px;">
                    <h2 class="text-white">어디로 떠날까요?</h2>
                    <div id="searchWindow" class="bg-body-tertiary p-5 rounded">
                        <!--국내 해외 구분해서 검색한다.-->
                        <!--검색은 국내/해외, 여행지, 인원, 여행 날짜-->
                        <form action="#" th:action="@{/accommodation/list}" th:object="${criteria}" method="get">
                            <div class="container text-center">
                                <div class="row justify-content-center">

                                    <!-- 지역 -->
                                    <div class="col-3">
                                        <input class="form-control" type="text" th:field="*{region}"
                                               th:errorclass="field-error" id="travelSite" placeholder="지역">
                                        <div class="field-error" th:errors="*{region}">
                                            지역 오류
                                        </div>
                                    </div>
                                    
                                    <!-- 날짜 선택 -->
                                    <div class="col-3">

                                        <button class="btn btn-outline-dark mb-3" type="button" id="dateSelect" style="width:100%">
                                            여행 기간
                                            <input class="form-control" type="hidden" th:field="*{checkIn}"
                                                   th:errorclass="field-error" id="startDate" placeholder="시작">
                                            <input class="form-control" type="hidden" th:field="*{checkOut}"
                                                   th:errorclass="field-error" id="endDate" placeholder="끝">
                                        </button>
                                        <div class="field-error" th:errors="*{checkIn}">
                                            시작 날 오류
                                        </div>
                                        <div class="field-error" th:errors="*{checkOut}">
                                            끝 날 오류
                                        </div>

                                        <div class="calendar-container">

                                            <div class="calendar-wrraper">

                                                <!-- 달력 1-->
                                                <table class="scriptCalendar calendar1" style="margin-right: 10px;">
                                                    <thead>
                                                    <tr>
                                                        <td class="calendarBtn" id="btnPrevCalendar">&#60;&#60;</td>
                                                        <td colspan="5">
                                                            <span id="calYear">YYYY</span>년
                                                            <span id="calMonth">MM</span>월
                                                        </td>
                                                    </tr>
                                                    <!-- tr은 row 열을 뜻함 -->
                                                    <!-- td는 col 행을 뜻함 -->
                                                    <tr>
                                                        <td>일</td><td>월</td><td>화</td><td>수</td><td>목</td><td>금</td><td>토</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                                <!-- 달력 2-->
                                                <table class="scriptCalendar calendar2">
                                                    <thead>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="5">
                                                            <span id="calYear2">YYYY</span>년
                                                            <span id="calMonth2">MM</span>월
                                                        </td>
                                                        <td class="calendarBtn" id="nextNextCalendar">&#62;&#62;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>일</td><td>월</td><td>화</td><td>수</td><td>목</td><td>금</td><td>토</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- 인원 -->
                                    <div class="col-3">
                                        <input class="form-control" type="text" th:field="*{personnel}"
                                               th:errorclass="field-error" id="personnel" placeholder="인원">
                                        <div class="field-error" th:errors="*{personnel}">
                                            인원 오류
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-primary btn-lg" type="submit">검색</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        



            <div class="col-12">
                <!--이벤트 슬라이드-->
                <div id="eventSlide" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#eventSlide" data-bs-slide-to="0" aria-label="Slide 1" class="active custom-btn" aria-current="true"></button>
                        <button type="button" data-bs-target="#eventSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#eventSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#677"/></svg>

                            <div class="container">
                                <div class="carousel-caption text-start">
                                    <h1>제목</h1>
                                    <p>문구</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">버튼</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Another example headline.</h1>
                                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h1>One more for good measure.</h1>
                                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#eventSlide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#eventSlide" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


            <div class="col-12">
                <!-- 상품 슬라이드?-->
                <div class="slider">
                    <div class="slides">
                        <div class="slide">
                            <div class="card-grid">
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                            </div>

                        </div>
                        <div class="slide">
                            <div class="card-grid">
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="card-grid">
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                            </div>

                        </div>

                        <!-- Add more slides as needed -->
                    </div>

                    <button class="nav-btn prev" onclick="moveSlide(-1)">&#10094;</button>
                    <button class="nav-btn next" onclick="moveSlide(1)">&#10095;</button>
                </div>
            </div>

        </div>


    </div>


    </body>

</html>