<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>홈 페이지</title>
        <link th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.css" rel="stylesheet">
        
        <!-- 홈페이지 전반 css -->
        <link th:href="@{/css/homepage.css}"
              href="../../static/css/homepage.css" rel="stylesheet">

        <!-- 달력 -->
        <link th:href="@{/css/calendar2.css}"
              href="../../static/css/calendar2.css" rel="stylesheet">

        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

        <!--슬라이드 카드 관련-->
        <link th:href="@{/css/carousel.css}"
              href="../../static/css/carousel.css" rel="stylesheet">


    </head>
    
    <style>
      


    </style>    

    <body>

    <!--아이콘 가져오기-->
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
<!--        부트스트랩 로고-->
        <symbol id="bootstrap" viewBox="0 0 118 94">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
        </symbol>

<!--        프로필 아이콘-->
        <symbol id="people-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </symbol>

    </svg>

    <div class="container">
    <!--헤더-->
    <header>
        <nav class="navbar navbar-white p-3 text-bg-white border-bottom mb-4">
            <div class="container d-flex justify-content-between align-items-center">
                <!--아이콘-->
                <a href="#" th:href="@{/home}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <div class="d-flex ms-auto align-items-center">

                        <!-- 로그인 안했을 때-->
                        <button sec:authorize="isAnonymous()" type="button" class="btn btn-outline-dark me-2" onclick="#" th:onclick="|location.href='@{/login}'|">로그인</button>
                        <button sec:authorize="isAnonymous()" type="button" class="btn btn-warning me-3" onclick="#" th:onclick="|location.href='@{/signup/add}'|">회원가입</button>

                        <!-- 로그인 했을 때 -->
                        <a sec:authorize="isAuthenticated()" class="me-3 text-dark" href="#">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                            <span th:if="${not #strings.isEmpty(user)}" th:text="${user.username}">
                                로그인한 사용자 이름
                            </span>
                        </a>

                        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-dark me-3" onclick="#">로그아웃</button>
                        </form>

                    <!--상단 네비게이션 토글 버튼-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <!-- 네비게이션 아이템 -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">국내 여행</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">해외 여행</a>
                        </li>
                        <li class="nav-item" th:href="@{/item/items}">
                            <a class="nav-link" href="#">숙소 검색</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/bulletinBoard/list}" tabindex="-1" aria-disabled="true">게시판</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    </div>

    <div class="container">
        <!-- <img class="rounded" src="aaa.png" width="100%" height="512" alt="검색창 배경 사진">-->
        <!--숙소 검색-->
        <div class="row row-gap-3">
            <div class="col-12">
                <div id="searchSection" class="p-5 rounded">
                    <h2 class="text-white">어디로 떠날까요?</h2>
                    <div id="searchWindow" class="bg-body-tertiary p-5 rounded">
                        <!--국내 해외 구분해서 검색한다.-->
                        <!--검색은 국내/해외, 여행지, 인원, 여행 날짜-->
                        <form action="#" th:action="@{/search/items}" th:object="${searchCond}" method="get">
                            <div class="container text-center">
                                <div class="row justify-content-center">

                                    <!-- 지역 -->
                                    <div class="col-3">
                                        <input class="form-control" type="text" id="travelSite" placeholder="지역">                                        
                                    </div>
                                    
                                    <!-- 날짜 선택 -->
                                    <div class="col-3">

                                        <button class="btn btn-outline-dark mb-3" type="button" id="dateSelect" style="width:100%">
                                            여행 기간
                                            <input class="form-control" type="hidden" th:field="*{startDate}" id="startDate" placeholder="시작">
                                            <input class="form-control" type="hidden" th:field="*{endDate}" id="endDate" placeholder="끝">
                                        </button>

                                        <div class="calendar-container">

                                            <div class="calendar-wrraper">

                                                <!-- 달력 1-->
                                                <table class="scriptCalendar calendar1" style="margin-right: 10px;">
                                                    <thead>
                                                    <tr>
                                                        <td class="calendarBtn" id="btnPrevCalendar">&#60;&#60;</td>
                                                        <td colspan="5">
                                                            <span id="calYear">YYYY</span>년
                                                            <span id="calMonth">MM</span>월
                                                        </td>
                                                        
                                                    </tr>
                                                    <!-- tr은 row 열을 뜻함 -->
                                                    <!-- td는 col 행을 뜻함 -->
                                                    <tr>
                                                        <td>일</td><td>월</td><td>화</td><td>수</td><td>목</td><td>금</td><td>토</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                                <!-- 달력 2-->
                                                <table class="scriptCalendar calendar2">
                                                    <thead>
                                                    <tr>
                                                        
                                                        <td colspan="5">
                                                            <span id="calYear2">YYYY</span>년
                                                            <span id="calMonth2">MM</span>월
                                                        </td>
                                                        <td class="calendarBtn" id="nextNextCalendar">&#62;&#62;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>일</td><td>월</td><td>화</td><td>수</td><td>목</td><td>금</td><td>토</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                            </div>

                                        </div>

                                    </div>
                                    
                                    <!-- 인원 -->
                                    <div class="col-3">
                                        <input class="form-control" type="text" th:field="*{personnel}" id="personnel" placeholder="인원">
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-primary btn-lg" type="submit">검색</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        



            <div class="col-12">
                <!--이벤트 슬라이드-->
                <div id="eventSlide" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#eventSlide" data-bs-slide-to="0" aria-label="Slide 1" class="active custom-btn" aria-current="true"></button>
                        <button type="button" data-bs-target="#eventSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#eventSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#677"/></svg>

                            <div class="container">
                                <div class="carousel-caption text-start">
                                    <h1>제목</h1>
                                    <p>문구</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">버튼</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Another example headline.</h1>
                                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h1>One more for good measure.</h1>
                                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#eventSlide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#eventSlide" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


            <div class="col-12">
                <!-- 상품 슬라이드?-->
                <div class="slider">
                    <div class="slides">
                        <div class="slide">
                            <div class="card-grid">
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                            </div>

                        </div>
                        <div class="slide">
                            <div class="card-grid">
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="card-grid">
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                                <div class="card">
                                    <h2>Card 1</h2>
                                    <p>This is the first card.</p>
                                </div>
                            </div>

                        </div>

                        <!-- Add more slides as needed -->
                    </div>

                    <button class="nav-btn prev" onclick="moveSlide(-1)">&#10094;</button>
                    <button class="nav-btn next" onclick="moveSlide(1)">&#10095;</button>
                </div>
            </div>

        </div>


    </div>



    <script th:src="@{/script/calendar.js}"
            src="../../static/script/calendar2.js"></script>

    <script th:src="@{/script/bootstrap.bundle.min.js}"
            src="../../static/script/bootstrap.bundle.min.js"></script>

    <script th:src="@{/script/slide.js}"
            src="../../static/script/slide.js"></script>
    </body>

</html>